
<div class="wrapper post-page">
    <div class="post-header" style="background-image:url(<%- url_for(page.banner) %>)">
        <a class="anchor full" href="javascript:void(0);" id="anchor">
            <img class="radius" src="<%- url_for('css/img/avatar_1.jpeg') %>" alt="avatar">
        </a>
        <p class="post-time"><%- date(page.date, 'YYYY/M/D, h:mm:ss a') %></p>
        <h1 class="post-title">
            <%= page.title %>
            <% if(page.label) { %>
            <p class="t"><%= page.label %></p>
            <% } %>
        </h1>
        <% if (page.tags && page.tags.length) { %>
        <div class="post-tag">
            <%- list_tags(page.tags, { show_count: false, style: 'link' }) %>
        </div>
        <% } %>
    </div>
    <div class="post-content">
        <%- page.content %>
    </div>

    <div class="comment">
        <!-- 来必力City版安装代码 -->
        <div id="lv-container" data-id="city" data-uid="MTAyMC8zMDYwNS83MTYw">
            <script type="text/javascript">
           (function(d, s) {
               var j, e = d.getElementsByTagName(s)[0];

               if (typeof LivereTower === 'function') { return; }

               j = d.createElement(s);
               j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
               j.async = true;

               e.parentNode.insertBefore(j, e);
           })(document, 'script');
            </script>
        <noscript> 为正常使用来必力评论功能请激活JavaScript</noscript>
        </div>
        <!-- City版安装代码已完成 -->        
    </div>

</div>
<%- js('js/post.js') %>